1 VERSIONINFO 
FILEVERSION     1,12,1,0 
PRODUCTVERSION  1,12,1,0 
BEGIN 
  BLOCK "StringFileInfo" 
  BEGIN 
    BLOCK "080904E4" 
    BEGIN 
      VALUE "FileDescription", "Fuzzy Machine Learning System" 
      VALUE "FileVersion", "1.12.1.0" 
      VALUE "InternalName", "fuzzy_ml_system" 
      VALUE "LegalCopyright", "Dmitry A. Kazakov" 
      VALUE "OriginalFilename", "fuzzy_ml_system.exe" 
      VALUE "ProductName", "Fuzzy Machine Learning System" 
      VALUE "ProductVersion", "1.12.1.0" 
    END 
  END 
  BLOCK "VarFileInfo" 
  BEGIN 
    VALUE "Translation", 0x809, 1252 
  END 
END 
2 ICON "..\\fuzzy.ico" 
